.parcours {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 1fr;
  row-gap: 1.5px;
  position: relative;
  width: 100vw;
}

.mapContainer {
  grid-row: 1/2;
  height: 20vh;
  width: 100vw;
}
.ParcoursWrap {
  grid-row: 2/3;
  height: auto;
  width: 100vw;
}
.parcoursInfo {
  display: flex;
  margin: 7px;
  padding: 3px 3px 3px 3px;
}

.parcoursCapsule {
  display: flex;
  flex-direction: row;
  width: 700px;
  overflow-x: auto;
  padding: 0 17px 17px 0;
}
*::-webkit-scrollbar {
  display: none;
}

@media (max-width: 350px) {
  .parcoursCapsule {
    width: 300px;
  }
  .mapContainer {
    display: none;
  }
}
@media (max-width: 480px) {
  .parcoursCapsule {
    width: 400px;
  }
}

// @media (max-width: 680px) {
//   .parcoursInfo {
//     width: 700px;
//   }
// }

// @media (max-width: 980px) {
//   .parcoursInfo {
//     width: 1000px;
//   }
// }
// @media (max-width: 1200px) {
//   .parcoursInfo {
//     width: 1300px;
//   }
// }
