.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 3px;
  position: relative;
}

.listContainer {
  display: flex;
  flex-direction: column;
  margin: 12px;
}
.poiContainer {
  display: flex;
  flex-direction: column;
}
.capsuleContainer {
  display: flex;
  flex-direction: row;
  width: 300px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
