.container {
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: 72px auto 72px;
  grid-template-areas:
    'header'
    'content'
    'footer';
  row-gap: 0;
}
.header {
  grid-area: header;
  grid-row: 1/2;
}
.content {
  grid-area: content;
  grid-row: 2/3;
}
.footer {
  grid-area: footer;
  grid-row: 3/4;
}
