.circle {
  position: relative;
}
.effect {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  display: block;
  border-radius: 50%;
  opacity: 0;
  animation: pulsate 2400ms ease-out infinite;
  z-index: 1;
}

.pulse {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 48.8%;
  top: 47.5%;
  z-index: 1000;
}
.pulse:after {
  content: '';
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
  box-shadow: 0 0 1px 2px #f15348;
  animation-delay: 1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.5;
  }
}
